.tags-container {
  margin: 0;
  padding: 10px;
  span {
    display: inline-block;
    margin: 5px;
    list-style: none;
    a {
      text-decoration: none;
      display: inline-block;
      padding: 5px 10px;
      transition: all .3s;
      &:hover {
        font-size:12px;
      }
    }
  }
}