/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .post {
    width: 48%;
    max-width: 100%;
    flex-direction: column;
    margin-right:10px;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 5px;
        a {
          font-size: 21px;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-shadow: 0 1px 1px 0 rgba(31, 35, 46, .15);

    footer {
      margin-bottom: 10px;
    }
  }

  .about {
    text-align: center;
    max-width: 480px;
    margin: 10px auto auto;
  }

  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0px 10px 10px 10px;
  }

  .article-page {
    p, li, ul, ol {
      padding: 0 0 0 10px;
    }
  }

  .sidebar-footer-message {
    display: none;
  }

  .post {
    .post-title {
      line-height: 1;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  main {
    padding: 0px 5px 5px 5px;
  }
  
  .about {
    .cover-author-image {
      width: 105px;
      height: 105px;
    }
    img.author-image {
      width: 100px;
      height: 100px;
      margin: 2px 0 0 0;
    }
  }

  .post {
    width: 98%;
    max-width: 100%;
    flex-direction: column;

    .post-thumbnail {
      width: 100%;
    }

    .post-content {
      width: 100%;
      .post-title {
        margin: 0 0 5px;
        a {
          font-size: 21px;
        }
      }
    }
  }
}
