$text-color: rgb(155,160,165);
$text-link-color: rgb(145, 180, 243);
$body-color: rgb(26,27,30);
$body-alt-color: rgb(32,33,36);
$white: #ffffff;
$author-image-cover-color: #ccd;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: rgb(155,160,165);
$dark: #333030;