---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="404 - Not Found">
  <article class="article-page">
    <div class="page-content wrap-content">
      <h1>Page not found</h1>
      <p>Sorry, this page doesn't exist. Try heading back to the <a href="/">home page</a>.</p>
    </div>
  </article>
</BaseLayout>
